<app-navbar></app-navbar>

<main class="container">

    <div class="row">
        <div class="col s12" *ngIf="pantalla=='mensajes'">
            <h4>Mensaje</h4>

            <ul class="collection">
                <li class="collection-item avatar" (click)="pantalla='mensaje'">
                    <i class="material-icons circle">person</i>
                    <span class="title">Armando Fuentes</span>
                    <p class="green-text text-darken-2">Activo
                        <span class="badge green white-text">4 Mensajes nuevos</span>
                    </p>
                </li>

                <li class="collection-item avatar" (click)="pantalla='mensaje'">
                    <i class="material-icons circle">person</i>
                    <span class="title">Juan Perez</span>
                    <p class="green-text text-darken-2">Activo
                        <span class="badge green white-text">1 Mensaje nuevos</span>
                    </p>
                </li>

                <li class="collection-item avatar" (click)="pantalla='mensaje'">
                    <i class="material-icons circle">person</i>
                    <span class="title">Ramón Váldez</span>
                    <p class="green-text text-darken-2">Activo
                    </p>
                </li>

                <li class="collection-item avatar" (click)="pantalla='mensaje'">
                    <i class="material-icons circle">person</i>
                    <span class="title">Pedro Parker</span>
                    <p class="grey-text text-darken-2">Inactivo
                    </p>
                </li>
            </ul>
        </div>

        <div class="col s12 " *ngIf="pantalla=='mensaje'">
    
            <h4>
                <a  (click)="pantalla='mensajes'">
                    <i class="material-icons left">
                        arrow_back_ios_new
                        </i>
                    Ver mas mensajes
                </a>
            </h4>
            <hr>
           
            <h5>Armando Fuentes</h5>
            <p class="green-text">Activo</p>
         

            <div id="global" class="col s12">

                <div id="mensajes" class="row">

                    <p class="center">HOY</p>

                    <ng-container *ngFor="let m of mensajes">
                        <div class="col s12"></div>
                        <div class="col s12 m5" [ngClass]="{'offset-m7': m.estado=='E'}">
                            <div class="card-panel" [ngClass]="{'grey lighten-2': m.estado=='R', 'blue lighten-2': m.estado=='E'}">
                                <span class="white-text">
                                    {{m.mensaje}}
                                </span>
                                <span class="small white-text right">
                                    <i>
                                        {{m.fecha | date : 'dd/MM/yyyy hh:mm'}}
                                    </i>
                                </span>
                            </div>
                        </div>
                    </ng-container>
                    <div id="fin"></div>





                </div>
            </div>

            <div class="col s12">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s11">
                                <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="mensaje"
                                    name="mensaje"></textarea>
                                <label for="textarea1">Mensaje</label>
                            </div>
                            <div class="input-field col s1">
                                <a class="btn-floating btn-large blue darken-2" (click)="enviar()" *ngIf="mensaje!=''"><i class="material-icons">send</i></a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        

        </div>

    </div>
</main>

<app-footer></app-footer>