<app-navbar></app-navbar>

<main class="container">
    <div class="row">
        <div class="col s12 ">
            <h1 class="blue-text text-darken-4">Bienvenidos al entorno CSS SEFIN</h1>
            <h3 class="grey-text text-darken-2">Demo SEFIN Style con Angular 12</h3>

            <p  class="flow-text grey-text text-darken-3">
                Hemos creado algunas plantillas de inicio para que pueda comenzar a diseñar su sitio web fácilmente con un tiempo de configuración mínimo. Explore nuestra colección y puede utilizar  la que mejor se adapte.
            </p>

            <p class="center">
                <img  src="assets/images/logo.jpg" alt="" height="150px">
            </p>

            <p class="center">
                <br><br>

                <a href="#" data-target="slide-out" class="sidenav-trigger  btn blue darken-4">
                    <i class="material-icons left">menu</i> 
                    Comenzemos
                </a>
                
                <br><br> <br><br>
            </p>
        </div>
    </div>
</main>

<app-footer></app-footer>