<app-navbar></app-navbar>

<main class="container">

    <div class="row">
        <div class="col s12">
            <h3>Mantenimiento de impuestos</h3>


        </div>

        <div class="col s6">
            <form class="row">
                <ng-container *ngFor="let d of formularioDinamico">
                    <ng-container *ngIf="invisible(d)">
                        <div class="input-field col s12" *ngIf="(seleccionarTipoDeElemento(d)).type=='text'">
                            <input id="{{d.id}}" name="{{d.id}}" type="text" class="validate" [(ngModel)]="d.value">
                            <label for="{{d.id}}" class="active">{{label(d)}}</label>
                        </div>
                        <div class="input-field col s12" *ngIf="(seleccionarTipoDeElemento(d)).type=='select'">
                            <select id="{{d.id}}" name="{{d.id}}" [(ngModel)]="d.value">
                                <option value="{{s.value}}" [selected]="selected(d.value,s.value)"
                                    *ngFor="let s of (seleccionarTipoDeElemento(d)).array">{{s.titulo}}</option>
                            </select>
                            <label for="{{d.id}}">{{label(d)}}</label>
                        </div>
                        <div class="input-field col s12" *ngIf="(seleccionarTipoDeElemento(d)).type=='textarea'">
                            <textarea id="{{d.id}}" name="{{d.id}}" type="text" class="materialize-textarea"
                                [(ngModel)]="d.value"></textarea>
                            <label for="{{d.id}}" class="active">{{label(d)}}</label>
                        </div>
                    </ng-container>
                </ng-container>
            </form>
        </div>
        <div class="col s6">
            <pre>{{formularioDinamico|json}}</pre>
        </div>
    </div>



</main>

<app-footer></app-footer>